<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用hammer.js实现下拉刷新</title>
    <style>
        .page{
            font-size: 2.3rem;
        }
        #container{
            border: 1px solid #000000;
        }
        #pull-down{
            background-color: #00afbc;
        }
        #pulldown,#pullup{
            display: none;
        }
        #scrollTopX{
            position:fixed;
            left: 0;
            bottom:0;
            font-size: 2.3rem;
            background-color: #aeaeae;
        }
    </style>
    <script src="javascripts/lib/zepto-1.1.4.js"></script>
    <script src="javascripts/components/hammer.min.js"></script>
</head>
<body>
    <div class="page" id="container">
        <p id="pulldown">释放刷新</p>
        <p id="pullup">刷新ing</p>
        <h3>测试slide组件：hammer.js</h3>
        <ul>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
            <li>会往回想。思潮一直飞回去，飞回去，去到老远老早的悲欢离合，</li>
        </ul>

    </div>
    <div id="pull-down">Pull down to Refresh</div>
    <div id="result"></div>
    <div id="scrollTopX"></div>

</body>
<script>
    //demo:手机上滑动停止 jQuery scrollStop
    (function(){
        function loadScript(url, callback){
            var script = document.createElement ("script")
            script.type = "text/javascript";
            if (script.readyState){ //IE
                script.onreadystatechange = function(){
                    if (script.readyState == "loaded" || script.readyState == "complete"){
                        script.onreadystatechange = null;
                        if(callback) callback();
                    }
                };
            } else { //Others
                script.onload = function(){
                    if(callback) callback();
                };
            }
            script.src = url;
            document.getElementsByTagName("head")[0].appendChild(script);//即插即执行
        }
        //一：使用jquerymobile 的 scrollStop事件
        loadScript("http://code.jquery.com/jquery-1.11.1.min.js", function(){
            loadScript("http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js", function(){
                $(document.body).on("scrollstop", function(){
                    $("#scrollTopX").html("滚动停止时，滚动的距离scrolltop为： " + $(window).scrollTop())
                })
            });
        });

        //二：使用zepto 的 scroll事件 及 函数节流

        /*var $win = $(window);
        var timer;
        $win.on("scroll",function(){
            if(timer) clearTimeout(timer)
            timer = setTimeout(function(){
                $("#scrollTopX").html("滚动停止时，滚动的距离scrolltop为： " + $(window).scrollTop())
            },200)
        })*/

    })()

</script>
<script>
    /*$("#container").load("http://www.baidu.com", function(){
        console.log("成功");
    })*/
    /*$.ajax({
        url: "http://www.baidu.com",
        type: 'GET',
        dataType: 'jsonp',
//        data: sendParams,
        crossDomain: true,
        jsonpCallback: 'callback',
        success: function(res) {

        },
        error: function(a,b,c) {
        }
    });*/

    //下拉刷新
    window.addEventListener("load", function () {
        var container = document.getElementById("container");
        new Hammer.Manager(container, {
            recognizers: [
                [Hammer.Pan, {
                    direction: Hammer.DIRECTION_DOWN
                }]
            ]
        }).on("pan", function (e) {
//                    var marginTop = Math.min(Math.max(e.deltaY, 0), 100);
                    $("#pulldown").show();
                    $("#pullup").hide();
//                    container.style.marginTop = marginTop + "px";
                }).on("panend", function (e) {
//                    container.style.marginTop = null;
                    $("#pulldown").hide();
                    $("#pullup").show();
                    setTimeout(function(){
                        $("#pulldown").hide();
                        $("#pullup").hide();
                    },1000)
                });
    });
</script>
</html>