.sidebar{
    width: 305px;
    float: right;
    text-align: right;
}
.content{
    margin-right: 310px;
}
.am-u-lg-6{
    width: 100%;
    margin: 0;
    padding: 0;
    float: none;
}
.loginIn,.loginUp{
    margin-right: 20px;
}